# Eclipse 관련 폴더 및 파일 무시
.classpath
.project
.settings/
eclipse/

# 빌드 결과물 무시
/bin/
/build/

# IDE 관련
.idea/
*.iml
.next/
# OS별 임시파일
*.DS_Store
Thumbs.db

# application-oauth.properties 파일 무시
/workspace/boot001/src/main/resources/application-oauth.properties

/Bug3/target/classes/application-oauth.properties
/Bug3/src/main/java/com/thejoa703/controller/ApiController.java
/Bug3/src/main/resources/application-oauth.properties


node_modules/node_modules/

