@charset "EUC-KR";

/* index.gtml - #gallery*/
/* index.gtml - #gallery*/

#gallery img {trabsition:all 0.3s ease;}
#gallery img:hover{
	transform:translateY(-5px) rotateZ(10deg);
	box-shadow:0 0.5rem 1rem rgba(0,0,0,0.15);
}